@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');
@import url('https://fonts.googleapis.com/css?family=Poller+One');


body {
	/* background-color:#cc7514; */
	/* base typography - unit 4 assignment */
background-color: #A9FF76;	
}
* { margin:0; padding:0; box-sizing:border-box; }
.columns {
	width: 24%;
	margin:.5%;
	float: left;
	padding-bottom:30px;
	background-color:#A9FF76;
		}
		
h1 {
	font-family:'Gloria Hallelujah', cursive;
}
p {font-family: 'IM Fell Great Primer', serif;}
.columns img {
	width:100%;
}
nav{text-align:center;
     color:white;
	 text-decoration:none;
}
/**nav a {width:20%;
        color: #4b4b4b;
		display: block;
		font-size:24px;
		font-weight:600;
		float:left;
		background-color:#428B17;
		} 
//*nav a: hover{
	    display:block;
		color:hotpink;
		background-color:yellow;*//
}

/**nav a {
    background-color: #61CC21;
    color: white;
    padding:13px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	width:19%;}**/
	
	/*nav a:  hover{
	 display: block;
    color: hotpink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

nav a:link, nav a:visited {
    background-color: lightgreen;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    float: left;
	width: 20%;
}

nav a:hover, nav a:active {
    background-color: green;
}

#intro {
	background:url(../images/pexels-photo-356392.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size:2em;
	height:90vh;
	padding:10em 0 0 4em;
}
#bbcolors{
	/* text-align:center; */
	color: #7f3300;
	font-size:24px;
	background: #79FF2A;
	float:right;
	width:50%;
	height:400px;

}

}
#seethrough{	color: rgba(255,255,255,1);
}
#acolor{float:left;
        background: #428B17;
		color:white;
		width:50%;
		
	
}
#bcolor{margin:auto;
          color: black;
          font-size:24px;
          clear:both;
		  width:100%;
		  padding:2em;
		  background-color: #61CC21;
			}

#slogan {font-style:italic;font-family: 'Poller One',cursive; font-size:24px}
footer{
	clear: both;
	text-align: center;
	background-color: #3D8015;
	width: 100%;
	padding: 80px 0;
}

.container {
    width: 600px;
}
ul{
 /* width:300px; */
 /* margin: 0 auto; */
 font-family: 'IM Fell Great Primer', serif;
 /* clear:both; */
 /* padding-top:50px; */
}

li{
  margin: 0 auto;
  font-family: 'IM Fell Great Primer', serif;
}
.ex1 {
	clear: both;
    float: left;
    width: 33.33%;
    padding: 10em 0;
	
}

#bbcolors p {
    width: 26em;
    margin: auto;
	
}
