@charset "utf-8";
/* CSS Document */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#intro {
	background:url(images/purple.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size:2em;
	height:90vh;
	padding:10em 0 0 1em;}
	
h1,p { color:white;
	 }
	 



nav ul{
	 text-align:center;
     color:white;
	 text-decoration:none;
	 background-color: purple;
	 list-style-type: none;
	 width: 100%;
	 display: block;
	 
}
nav li {
	float:left;
	background-color:purple;
	color: white;
	width:20%;
	text-align:center;
	position: relative;
	display:block;
}

nav a {
	color: white;
	display: block;
	text-decoration:none;
	padding: 1em;
	text-align:center;
	
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color:pink;
	color:red;}

nav a:hover, nav a:active {
    background-color: #caebf2;;
}
#firstflower{
               width: 100%;
               }
#secondflower{
              width: 100%;
              }
#example{background-color:lightpink;}

#quote{width: 100%;
       text-align:left } 
#example h1{
             color:purple;
             padding: 4em 0;
             max-width: 600px;
             margin: auto;
             }
#firstbud{width:50%;
          float:left;}
#secondbud{width:50%;
           float:left;} 
.crop {
    /* overflow: hidden; */
    /* height: 28em; */
}

figure {
    width: 50%;
    float: left;
}

img {
    width: 100%;
}
 .clearfix:after {
 	display:block;
 	clear:both;
 	content:"";
 }
