@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer');

* { margin:0; padding:0; box-sizing:border-box; }
body {
	background-color:#cc7514;
	/* base typography - unit 4 assignment */
}
section {
	padding:4em 0;
}
.columns {
	width:20%; 
	padding: 1em;
	float: left;
	padding-bottom:30px;
	background-color: white;
	margin: 1em;
	}
h1 {
	font-family:'Gloria Hallelujah', cursive;
}
p {font-family: 'IM Fell Great Primer', serif;
}
.columns img {
	width:100%;
}
#intro {
	background:url(../images/pexels-photo-356392.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size:2em;
	height:90vh;
	padding:10em 0 0 4em;
}
#bbcolors{
	text-align:center;
	margin: 50px;
	color: #7f3300;

	font-size:24px;
}
#bcolor{ color: black;
          font-size:24px;
}
#slogan {
font-style:italic;
}
footer{
	height:400px;
	    clear: both;	
	    text-align: center;
	    background-color: #297514;
        width: 100%;
		padding-top: 80px;
}

.container {
    width: 600px;
}
ul{width:300px;
 margin: 0 auto;
 font-family: 'IM Fell Great Primer', serif;
}

li{
  margin: 0 auto;
  font-family: 'IM Fell Great Primer', serif;
}

