@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


* { margin:0; padding:0; box-sizing:border-box; }
body {
	/* base typography - unit 4 assignment */
}
section {
	padding:4em 0;
}
.columns {
	width:25%;
	padding: 1em;
	float: left;
	background-color: #061182;
	height:400px;
	
	
	
}
h1 {
	font-family:'Gloria Hallelujah', cursive;
}
	
.columns img {
	width:100%;
}
#intro {
	background:url(file:///C|/Users/User/Desktop/generalassembly/maryannelewis1.github.io/unit_3/images/pexels-photo-356392.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size:2em;
	height:90vh;
	padding:12em 0 0 4em;
}
#slogan {
font-style:italic;
}