* { margin:0; padding:0; box-sizing:border-box; }
body {
	/* base typography - unit 4 assignment */
}
section {
	padding:4em 0;
}
.columns {
	width:25%;
	padding: 1em;
	float: left;
	
}
.columns img {
	width:100%;
}
#intro {
	background:url(../images/pexels-photo-356392.jpeg);
	background-size:cover;
	background-repeat:no-repeat;
	font-size:2em;
	height:90vh;
	padding:12em 0 0 4em;
}
#slogan {
font-style:italic;
}